{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  {{ if and (gt .WordCount 400 ) (.Params.toc) }}
  <b>Table of Contents</b>
  {{ .TableOfContents }}
  {{ end }}
  {{ .Content }}
</div>

<script src="https://utteranc.es/client.js"
        repo="meyerzinn/website"
        issue-term="title"
        label="post comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{{- end }}
